<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="Endpoint" value="https://testcosmos312.documents.azure.com:443/"/>
    <add key="AuthKey" value="CXpRg38SGxdaXdSbIOeSBu9G0d0RzF4i6ysuyL5IOr4thjshVc58NuE0itTzUC43lYYzFihbiCFbDiCPx7KRcQ=="/>
  </appSettings>
</configuration>
